#root {
  max-width: 1280px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.image {
  width: 700px;
  height: 500px;
}
.mainBox {
  border: 0px white solid;
}
.box {
  border: 1px solid white;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: whitesmoke;
}
.content {
  border: 1px solid white;
}
.publisher {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
}

.author {
  border: 1px solid white;
}
.openPage {
  background-color: red;
}
.openPage:hover {
  background-color: green;
}
.newsLink {
  border: 1px solid white;
  border-radius: 5px;
}
.newsHeader {
  border: 1px solid white;
  border-radius: 5px;
}
